<div class="container">
  <h1 class="text-center my-4">Users</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% @users.each do |user| %>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <%= render user %>
            <p>
              <%= link_to "Show this user", user, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New user", new_user_path, class: "btn btn-success" %>
</div>
