<div class="container">
  <h1 class="mt-5 mb-4">New event</h1>

  <%= render "form", event: @event %>

  <div class="mt-4">
    <%= link_to "Back to events", events_path, class: "btn btn-secondary" %>
  </div>
</div>
